node_modules
.env
dist
coverage
.vscode
.DS_Store
npm-debug.log
yarn-error.log
.idea
*.log
.env.local
.env.development.local
.env.test.local
.env.production.local
.cache
.next
out
build
*.tsbuildinfo
logs
pids
*.seed
*.pid
*.gz
*.zip
*.tar
*.rar
    