@media screen and (max-width: 320px) {
  .butter-fly {
    top: 330px;
    left: 90px;

  }
}
@media (min-width: 321px) and (max-width: 375px) {
  .butter-fly {
    top: 250px;
    left: 90px;

  }
}
@media (min-width: 376px) and (max-width: 425px) {
  .butter-fly {
    top: 250px;
    left: 90px;
  }
}
